*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
header{
    background-color: #FF6900;
}

header #navbar{
    height: 68px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.centered-container{
    max-width: 1005px;
    margin-left: auto;
    margin-right: auto;

}

#site-name{
    height: 30px;
    width: auto;
}

.items{
    height:25px;
    width: auto;
}

.first-row-img{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 40px;
}
#first-img{
    width: auto;
    height: 400px;
}

#second-img{
    width: auto;
    height: 400px;
}

#third-img{
    width: auto;
    height: 400px;
}

.model{
    width: auto;
    height: 400px;
}

.second-row-img{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 40px;
}

.heart{
    position: absolute;
    left: 765px;
    top: 120px;
    background-color: white;
    width: 21px;
    padding-left: 3px;
    height: 22px;
}
 
.percentuale{
    position: absolute;
    left: 505px;
    top: 460px;
    background-color: red;
    height: 24px;
    width: 38px;
    color: white;
    padding: 3px;
}

.sostenibilità{
    position: absolute;
    top: 460px;
    left: 545px;
    color: white;
    background-color: green;
    height: 24px;
    padding: 2px;
}

.second-heart{
    position: absolute;
    left: 765px;
    top: 560px;
    background-color: white;
    width: 21px;
    padding-left: 3px;
    height: 22px;
}

.second-percentuale{
    position: absolute;
    top: 900px;
    left:505px;
    background-color: red;
    height: 24px;
    width: 38px;
    color: white;
    padding: 3px;
}

.second-sostenibilità{
    position: absolute;
    top: 900px;
    left: 545px;
    color: white;
    background-color: green;
    height: 24px;
    padding: 2px;
}

.third-heart{
    position: absolute;
    left: 1055px;
    top: 120px;
    background-color: white;
    width: 21px;
    padding-left: 3px;
    height: 22px;
}

.third-percentuale{
    position: absolute;
    left: 798px;
    top: 460px;
    background-color: red;
    height: 24px;
    width: 38px;
    color: white;
    padding: 3px;
}

.third-sostenibilità{
    position: absolute;
    top: 460px;
    left: 838px;
    color: white;
    background-color: green;
    height: 24px;
    padding: 2px;
}