*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
header{
    background-color: #FF6900;
}

header #navbar{
    height: 68px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.centered-container{
    max-width: 885px;
    margin-left: auto;
    margin-right: auto;

}

a{
    color: white;
}

#site-name{
    height: 30px;
    width: auto;
}

.items{
    height:25px;
    width: auto;
}

.first-row-img{
    display: flex;
    gap: 15px;
    margin-top: 40px;
    justify-content: center;
   
}
#first-img{
    width: auto;
    height: 400px;
}


#second-img{
    width: auto;
    height: 400px;
}

#third-img{
    width: auto;
    height: 400px;
}

.model{
    width: auto;
    height: 400px;
}

.second-row-img{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 40px;
}

.heart{
    position: absolute;
    left: 755px;
    top: 120px;
    background-color: white;
    width: 21px;
    padding-left: 3px;
    height: 22px;
}
 
.percentuale{
    position: absolute;
    left: 500px;
    top: 460px;
    background-color: red;
    height: 24px;
    width: 38px;
    color: white;
    padding: 3px;
}

.sostenibilità{
    position: absolute;
    top: 460px;
    left: 540px;
    color: white;
    background-color: green;
    height: 24px;
    padding: 2px;
}

.second-heart{
    position: absolute;
    left: 1048px;
    top: 120px;
    background-color: white;
    width: 21px;
    padding-left: 3px;
    height: 22px;
}

.second-percentuale{
    position: absolute;
    left: 790px;
    top: 460px;
    background-color: red;
    height: 24px;
    width: 38px;
    color: white;
    padding: 3px;
}


.third-heart{
    position: absolute;
    left: 1338px;
    top: 115px;
    background-color: white;
    width: 21px;
    padding-left: 3px;
    height: 22px;
}

.third-percentuale{
    position: absolute;
    top: 460px;
    left:1085px;
    background-color: red;
    height: 24px;
    width: 38px;
    color: white;
    padding: 3px;
}

.fourth-heart{
    position: absolute;
    left: 755px;
    top: 562px;
    background-color: white;
    width: 21px;
    padding-left: 3px;
    height: 22px;
}

.fourth-percentuale{
    position: absolute;
    left: 500px;
    top: 895px;
    background-color: red;
    height: 24px;
    width: 38px;
    color: white;
    padding: 3px;
}

.fourth-sostenibilità{
    position: absolute;
    top: 895px;
    left: 540px;
    color: white;
    background-color: green;
    height: 24px;
    padding: 2px;
}

.fifth-heart{
    position: absolute;
    left: 1048px;
    top: 562px;
    background-color: white;
    width: 21px;
    padding-left: 3px;
    height: 22px;
}

.sixth-heart{
    position: absolute;
    left: 1338px;
    top: 562px;
    background-color: white;
    width: 21px;
    padding-left: 3px;
    height: 22px;
}

.sixth-sostenibilità{
    position: absolute;
    top: 895px;
    left: 1085px;
    color: white;
    background-color: green;
    height: 24px;
    padding: 2px;
}

footer{
    background-color: black;
    height: 100px;
    margin-top: 70px;
    color: white;
}

#last{
    padding: 25px;
}


